<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Creditcard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<nav></nav>

<h1 class="ui center aligned header">Add Creditcard</h1>

<div class="ui placeholder segment">
    <div class="ui three column very relaxed stackable grid">
        <div class="column"></div>
        <div class="column">
            <form action="#" method="post" th:action="@{/func/addCreditcard_Customer}" class="ui form">
                <div class="field">
                    <label>Creditcard Number</label>
                    <div class="ui icon input">
                        <input type="text" name="creditcardnum" placeholder="">
                    </div>
                </div>
                <div class="ui error mini message"></div>
                <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">Add creditcard failed</div>
                <button class="ui large fluid submit primary button">Add</button><br>
                <a class="ui large fluid button" href="#" th:href="@{/func/customerFunctionality}">Back</a>
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.form').form({
        fields : {
            creditcardnum : {
                identifier: 'creditcardnum',
                rules: [
                    {
                        type : 'empty',
                        prompt: 'Please input creditcardnum'
                    },
                    {
                        type: 'number',
                        prompt: "creditcardnum only allow digits"
                    },
                    {
                        type: 'exactLength[16]',
                        prompt: "the length of creditcardnum should be 16"
                    }
                ]
            },
        }
    });
</script>
</body>
</html>