<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Movie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<nav></nav>

<h1 class="ui center aligned header">Schedule Movie</h1>

<div class="ui placeholder segment">
    <div class="ui three column very relaxed stackable grid">
        <div class="column"></div>
        <div class="column">
            <form action="#" method="post" th:action="@{/func/scheduleMovie_Manager}" class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>Name</label>
                        <select class="ui search dropdown" name="moviename">
                            <option th:each="movie : ${page_movie.content}" th:value="${movie.name}" th:text="${movie.name}">Movie Name</option>
                        </select>
                    </div>
                    <div class="required field">
                        <label>Release Date</label>
                        <div class="ui icon input">
                            <i class="calendar outline icon"></i>
                            <input type="text" name="releasedate">
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>Play Date</label>
                        <div class="ui icon input">
                            <i class="calendar outline icon"></i>
                            <input type="text" name="date">
                        </div>
                    </div>
                    <div class="field">
                    </div>
                </div>
                <div class="ui error mini message"></div>
                <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">Movie scheduled failed</div>
                <div class="ui mini positive message" th:unless="${#strings.isEmpty(message_success)}" th:text="${message_success}">Movie scheduled successfully.</div>
                <button class="ui large fluid submit primary button">Add</button><br>
                <a class="ui large fluid button" href="#" th:href="@{/func/managerFunctionality}">Back</a>
            </form>
        </div>
        <div class="column"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.form').form({
        fields : {
            moviename : {
                identifier: 'moviename',
                rules: [{
                    type : 'empty',
                    prompt: 'Please input moviename'
                }]
            },
            releasedate : {
                identifier: 'releasedate',
                rules: [{
                    type : 'empty',
                    prompt: 'Please input release date'
                }]
            },
            date : {
                identifier: 'date',
                rules: [{
                    type : 'empty',
                    prompt: 'Please input play date'
                }]
            }
        }
    });
</script>
</body>
</html>