<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View History</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<nav></nav>

<h1 class="ui center aligned header">View History</h1>

<div class="ui placeholder segment">
    <div class="ui one column very relaxed stackable grid">
        <div class="column">
            <div id="table-container">
                <table class="ui compact teal table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Movie</th>
                        <th>Theater</th>
                        <th>Company</th>
                        <th>Card #</th>
                        <th>View Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="used,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${used.moviename}">Movie Name</td>
                        <td th:text="${used.theatername}">Theater Name</td>
                        <td th:text="${used.companyname}">Company Name</td>
                        <td th:text="${used.creditcardnum}">Creditcard</td>
                        <td th:text="${used.date}">View Date</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <br><a class="ui large fluid button" href="#" th:href="@{/func/customerFunctionality}">Back</a><br>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>

</script>
</body>
</html>