<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Only Functionality</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <nav></nav>
    <h1 class="ui center aligned header">Admin-Only Functionality</h1>
    <div class="ui placeholder segment">
        <div class="ui six column very compact stackable grid">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <a class="ui large fluid primary button" href="#" th:href="@{/userRegistration}">Manage User</a><br>
                <a class="ui large fluid primary button" href="#" th:href="@{/userRegistration}">Manage Company</a><br>
                <a class="ui large fluid primary button" href="#" th:href="@{/userRegistration}">Create Movie</a><br>
            </div>
            <div class="column">
                <a class="ui large fluid primary button" href="#" th:href="@{/userRegistration}">Explore Theater</a><br>
                <a class="ui large fluid primary button" href="#" th:href="@{/userRegistration}">Visit History</a><br>
                <a class="ui large fluid primary button" href="#" th:href="@{/userRegistration}">Back</a><br>
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
    </div>
</body>
</html>