<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery demo</title>
</head>
<body>
<input type="checkbox" name="check" onclick="onlyOne(this)">
<input type="checkbox" name="check" onclick="onlyOne(this)">
<input type="checkbox" name="check" onclick="onlyOne(this)">
<input type="checkbox" name="check" onclick="onlyOne(this)">
<script>
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('check');
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }
</script>
</body>
</html>