<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Navigation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
    <nav></nav>

    <h1 class="ui center aligned header">Register Navigation</h1>
    <div class="ui placeholder segment">
        <a class="ui large fluid primary button" href="#" th:href="@{/userRegistration}">User Only</a><br>
        <a class="ui large fluid primary button" href="#" th:href="@{/customerRegistration}">Customer Only</a><br>
        <a class="ui large fluid primary button" href="#" th:href="@{/managerRegistration}">Manager Only</a><br>
        <a class="ui large fluid primary button" href="#" th:href="@{/managerCustomerRegistration}">Manager-Customer</a><br>
        <a class="ui large fluid button" href="#" th:href="@{/login}">Back</a>
    </div>

    <footer></footer>
</body>
</html>